$borderRadius: 3px;
$borderColor: #eee;

.searchBox {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
  background: #fff;
  margin-bottom: 0;

  li {
    border-bottom: 1px solid $borderColor;
    line-height: 2.8;
    display: flex;

    b {
      background: #f9f9f9;
      width: 7.6em;
      text-align: center;
      font-weight: 400;
    }
    .tags {
      // padding-left: 1em;
      span {
        display: inline-block;
        padding: 0 0.8em;
        margin: 0 0.2em;
        cursor: pointer;
        line-height: 1.5;

        &.on {
          background: #16a;
          color: #fff;
          border-radius: $borderRadius;
        }
      }
    }

    &:last-child {
      border: none;
    }
  }
}
