$hightColor: #fe6a30;
$grayColor: #b5b5b5;
$fontColor: #333330;
$borderRadius: 2px;

.listBox {
  .minImgBox {
    width: 359px;
    height: 227px;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  li {
    margin-bottom: 46px;
    display: flex;
    cursor: pointer;

    &.details {
      cursor: default;
    }

    .casePicBox {
      width: 65%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 22px;
        padding: 0.2em 0;
        font-weight: 600;
        color: $fontColor;
      }
      h5 {
        font-size: 14px;
        color: rgba(102, 102, 102, 1);
        padding:20px 0 5px 24px;
        background: url(http://img.inbase.in-deco.com/crm-saas/img/home-preview/ic_local.png) no-repeat 0 65%;
      }

      > p {
        margin-bottom: 1.5em;
        span {
          display: inline-block;
          font-size: 14px;
          background: rgba(247, 247, 247, 1);
          border-radius: 1px;
          margin-right: 12px;
          line-height: 2;
          padding: 0 0.75em;
          color: rgba(102, 102, 102, 1);
        }
      }

      .minImgBox {
        width: 193px;
        height: 126px;
      }

      ul {
        display: flex;
        align-content: center;

        li {
          border: none;
          position: relative;
          margin: 0 15px 0 0;

          > span {
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.59) 100%);
            width: 100%;
            line-height: 28px;
            text-align: center;
            color: #fff;
            font-size: 14px;
          }
        }
      }

      .stepOut {
        overflow: hidden;
        padding-top: 45px;
        position: relative;

        &:hover{
          .directionBox{
            opacity: 1;
          }
        }
      }

      .setpBox {
        &::-webkit-scrollbar {
          display: none;
        }

        .stepBg,
        .stepHight {
          background: $grayColor;
          height: 4px;
          border-radius: 3px;
          width: 300%;
          margin-bottom: -15px;
        }

        .stepHight {
          background: $hightColor;
          width: 30%;
          transform: translateX(-35px);
        }
        .stepList {
          color: rgba(181, 181, 181, 1);
          line-height: 1;
          padding-top: 2.2em;
          white-space: nowrap;

          span {
            position: relative;
            text-align: center;
            font-size: 12px;
            width: 4em;
            display: inline-block;
            margin: 0 10px;

            &::before {
              display: inline-block;
              content: '';
              background: #fff;
              border-radius: 6px;
              width: 12px;
              height: 12px;
              border: 2px solid $grayColor;
              position: absolute;
              bottom: 26px;
              left: 50%;
              margin-left: -6px;
            }

            &.pass {
              color: $fontColor;
              &::before {
                border: 2px solid $hightColor;
              }
            }

            &.cur {
              color: $fontColor;
              &::before {
                width: 15px;
                height: 15px;
                border-radius: 8px;
                bottom: 24px;
                border: 3px solid $hightColor;
                box-shadow: 0px 4px 8px 0px rgba(255, 115, 0, 0.5);
              }
            }
          }
        }
      }

      .directionBox {
        transition: all .2s ease ;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 5px;
        height: 16px;
        width: 36px;
        display: flex;
        justify-content: space-between;

        > a {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 16px;
          height: 16px;
          border-radius: $borderRadius;
          background: $hightColor;
          color: #fff;
          text-align: center;
          cursor: pointer;

          &[disabled]{
            background: #dcdcdc;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.pageBox {
  text-align: right;
}
