$hightColor: #ff7300;
$grayColor: #b5b5b5;
.breadBox {
  padding: 1.5em 0;
  color: $grayColor;

  span,
  a {
    color: $grayColor;
    font-size: 12px;
  }
  a:hover {
    color: $hightColor;
  }
}
