$borderRadius: 2px;

.grayBg {
  background: rgba(246, 246, 246, 1);
}
.conBox {
  width: 1110px;
  margin: 1em auto;

  p {
    margin: 0;
  }
}

.detailCard {
  background: #fff;
  padding: 20px;
  border-radius: $borderRadius;

  ul {
    li:last-child {
      margin-bottom: 0;
    }
  }
}
