html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Regular, PingFang SC;

  min-width: 1280px;
  --themeColor: #ff7300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}
